# Arquivos de backup e temporários
*.tmp
*.temp
*.bak
*.swp
*.swo

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações locais do VS Code
.vscode/

# Arquivos compilados do Arduino
*.hex
*.elf
*.bin
*.eep
*.map
*.d
*.o
*.a

# Diretórios de build temporários
build/
.pio/
.idea/
*.pio*

# Bibliotecas baixadas manualmente
libdeps/
libraries/

# Arquivos ocultos e de upload
*.log
*.upload*
